body{
	margin: 0;
	max-width: 100vw;
	margin: auto;
	font-size: 10px;
}
.height{
	background: #2D7053;
	position: center;
	height: 17vw;
}
.krug{
	width: 20%;
	font-size: 10%;
	float: left;
	max-height: 100%;
}
.radius{
    height: 15vw;
    width: 15vw;
    background: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    max-height:100%;
    margin:1vw 0 1vw 1vw; 
}
.centr-heght{
	width: 60%;
	float: left;
	display: inline-block;
	max-height: 100%;
	margin-top: 1vw;
}
.link{
	display: inline-block;
	margin: 1.6vw 0  0 5vw;
	text-decoration: none;
	font-size: 1.8vw;
	font-family: sans-serif;
	color: #fff;
}
.right-top{
	width: 20%;
	float: left;
}
.full-link{
    display: block;
    max-height: 100%;
    margin:3vw 0 2vw 0;
}
.line{
	height: 1vw;
	width: 10vw;
	margin-top: 1.5vw;
	border-radius: 0.5vw;
	background: #fff;
	display: inline-block;
	margin-left: 2vw;
}
.img{
	width: 100%;
	display: inline-block;
}
.zapis{
	display: inline-block;
	background: #CB9223;
	width: 40%;
	height: 7vw;
	position: absolute;
	margin: 50% 0 0 -68vw;
	text-decoration: none;
	font-size: 3vw;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	line-height: 6vw;
	text-transform: uppercase;
}
.mid{
	margin-top: 5vw;
	float: left;
}
.all{
	width: 100%;
}
.photo{
	margin-left: 5vw;
	float: left;
	width: 26vw;
	height: 26vw;
	border-radius: 15vw;
}
.name{
	font-family: sans-serif;
	font-size: 4vw;
	margin-left: 10vw;
	margin-top: -1vw;
	font-weight: normal;
}
.psih{
	font-family: sans-serif;
	font-size: 3vw;
	margin-left: 10vw;
	font-weight: normal;
}
.par{
    font-family: sans-serif;
	font-size: 3vw;
	margin-left: 5vw;
}
.prich{
    font-family: sans-serif;
	font-size: 4vw;
	margin-left: 5vw;
	margin-top: 65vw;
	font-weight: normal;
}
.razdva{
	font-family: sans-serif;
	font-size: 3vw;
	margin-left: 5vw;
	margin-top: 5vw; 
	font-weight: normal;
}
.zap{
	display: inline-block;
	background: #CB9223;
	width: 40%;
	height: 7vw;
	text-decoration: none;
	font-size: 3vw;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	line-height: 6vw;
	text-transform: uppercase;
	margin: 5vw 30% 0 30%;
}
.footer{
	background: #888888;
	width: 100%;
	height: 15vw;
	margin-top: 5vw;
}
.krug2{
	float: left;
	width: 10vw;
	background: #fff;
	height: 10vw;
	border-radius: 5vw;
	margin: 2.5vw 0 0 3vw;
}
.telmail{
	width: 100%;
}
.tel{
	display: inline-block;
	text-decoration: none;
	font-size: 2vw;
	color: #fff;
	margin-left: 65vw;
	margin-top: 3vw;
}
.adres{
	float: left;
	text-decoration: none;
	font-size: 2vw;
	color: #fff;
	margin-left: 36.5vw;
}
.mail{
	float: left;.
	text-decoration: none;
	font-size: 2vw;
	color: #fff;
	margin-left: 6vw;
	text-decoration: none;
	margin-top: 1.8vw;
}